.navbar-custom {
    background-image: none;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

img{
width: 100px;
height: 100px;
}

.grey-image{
background-color: grey;
opacity: 0.6;
}