<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div id="chart_div1"></div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div id="chart_div2" style="width: 700px; height: 500px;"></div>
  </div>

  <script type="text/javascript">
       function doRequestData() {
         if ($("#chart_div1").length) {
           // если контейнер куда загружать есть - загружаем. если нет - нет
           $.getJSON("json/chart1.json", function(data) {
             drawChart1(data);
           });
      }
      if ($("#chart_div2").length) {
    	$.getJSON("json/chart2.json", function(data) {
             drawChart2(data);
           });
         }
         timer2 = setTimeout(doRequestData, 2000);
       }

       google.charts.load("current", { packages: ["corechart"] });
       google.charts.setOnLoadCallback(doRequestData);

       function drawChart1(d) {
         var data = google.visualization.arrayToDataTable(d);

         var options = {
           title: "My Daily Lazy Activities"
         };

         var chart = new google.visualization.PieChart(
           document.getElementById("chart_div1")
         );

         chart.draw(data, options);
       }

    function drawChart2(d) {
         var data = google.visualization.arrayToDataTable(d);

         var options = {
           title: "My Daily Lazy Activities",
		   pieHole: 0.4
         };

         var chart = new google.visualization.PieChart(
           document.getElementById("chart_div2")
         );

         chart.draw(data, options);
       }

       function load() {
         setInterval(doRequestData(), 1000);
       }
       load();
  </script>
</div>
