<div class="container" id="hw14">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="navbar">
        <ul class="nav navbar-nav">
          <li>
            <form action="" method="POST" class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="">label</label>
                <input type="text" class="form-control" id="inputName" placeholder="Enter Name" name="userName" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </li>
          <li>
            <button type="button" class="btn btn-large btn-block btn-default" id="exitBtn">
              Exit
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $("form").on("submit", function (event) {
      let data = $(this).serializeArray();
      docCookies.setItem(data[0].name, data[0].value);
      console.log(data);
      event.preventDefault();
      return false;
    });

    function onLoad() {
      let name = docCookies.getItem("userName");
      $("#inputName").attr("value", name);
    }

    $("#exitBtn").on("click", function (event) {
      docCookies.removeItem("userName");
      load('hw14.html');
      //location.reload();
    });

    $(document).ready(onLoad);

// function reload(){
//   $.get("#hw14", function (data) {
//     $("#content").html(data);
//     //$(window).attr('location',href);
//   });
// }
  </script>
</div>