<div class="container" id="task"></div>
<div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="userAJAX">

        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div id="piechart" style="width: 900px; height: 500px;">

        </div>
    </div>


</div>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart(d) {

        var data = google.visualization.arrayToDataTable(d);

        var options = {
            title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }

    //loadUsers
    function loadUsers() {

        $.getJSON("json/users.json", function (data) {
            console.log(data)

            var html = "<ul>";

            for (var i in data) html += `<li>${data[i].name}</li>`;

            html += "</ul>";

            $(".userAJAX").append().html(html);

            // $.each(data, function(name, value){
            //   $(this).append(`<li>${value}</li>`);
            // })
        })
    }

    function loadChart(){
        let arr =[
    ["City", "2010 Population"],
    ["New York City, NY", 8175000],
    ["Los Angeles, CA", 3792000],
    ["Chicago, IL", 2695000],
    ["Houston, TX", 2099000],
    ["Philadelphia, PA", 1526000]
  ];

        drawChart(arr)
    }


    loadUsers();
    loadChart();

    var timer = setInterval(loadUsers(), 2000);

    function loadUsersTimer() {
        timer;
    }

    loadUsersTimer();

</script>

</div>